<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Calculate Your Numbers</title>
    <style>
      html {  
        height: 100vh;
        width: 100vw;
        background: hsl(32, 56%, 72%);
        background: linear-gradient(15deg,hsl(0, 0%, 0%) 0%, hsl(0, 0%, 0%) 100%);
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>Sorry but Vue Calculator doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>